@page
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Young Church</title>
    <link rel="stylesheet" href="~/css/index_page.css" />
</head>
<body>
    <div class="menu">
        <div class="title">
            <div class="min_picture"></div>
            <span class="user_name">測試</span>
        </div>
        <div class="content">
            <div class="banner">
                <div class="picture"></div>
            </div>
        </div>
    </div>
</body>
</html>

