@page
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Young Church</title>
    <link rel="stylesheet" href="~/css/index_page.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384–5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-Logo">Young Church</div>
            <div class="nav-dev-ul">
                <ul class="nav-item-ul">
                    <li class="nav-item-li"><a class="nav-li-text" href="##">個人詳情</a></li>
                    <li class="nav-item-li"><a class="nav-li-text" href="##">隊伍詳情</a></li>
                    <li class="nav-item-li"><a class="nav-li-text" href="##">任務</a></li>
                    <li class="nav-item-li"><a class="nav-li-text" href="##">積分兌換</a></li>
                    <li class="nav-item-li"><a class="nav-li-text" href="##">特別活動</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>

